
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
auth/user.json
.env

# Performance Reports
performance/reports/*.json

# k6 Bundled Files
automation/dist/

.DS_Store







